@use '../../../styles/utils/mixins' as *;
@use '../../../styles/base/variables' as *;

.button {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 12px;
  padding: 19px 50px;
  background-color: $color-purple-500;
  border-radius: 20px;
  @include text(button);
  font-weight: 600;

  &--outlined {
    border: 2px solid $color-purple-500;
    background-color: transparent;

    & svg {
      color: $color-purple-500;
    }
  }
  &--light {
    color: $color-black;
    background-color: $color-white;

    & svg {
      color: $color-purple-500;
    }
  }
  &--wallet {
    justify-content: flex-start;
    gap: 20px;
    padding: 14px 20px 14px 40px;
    border: 1px solid $color-purple-500;
    background-color: $bg-secondary;
    @include text(h5);

    @media screen and (min-width: $screen-lg) {
      & {
        padding: 16px 20px 16px 40px;

        & svg {
          width: 40px;
          height: 40px;
        }
      }
    }
  }
}
