@use '../../../styles/utils/mixins' as *;
@use '../../../styles/base/variables' as *;

.button {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 0.75rem; /* 12px */
  padding: 1.1875rem 3.125rem; /* 19px 50px */
  background-color: $color-purple-500;
  border-radius: 1.25rem; /* 20px */
  @include text(button);
  font-weight: 600;

  &--outlined {
    border: 0.125rem solid $color-purple-500; /* 2px */
    background-color: transparent;

    & svg {
      color: $color-purple-500;
    }
  }
  &--light {
    color: $color-black;
    background-color: $color-white;

    & svg {
      color: $color-purple-500;
    }
  }
  &--wallet {
    justify-content: flex-start;
    gap: 1.25rem; /* 20px */
    padding: 0.875rem 1.25rem 0.875rem 2.5rem; /* 14px 20px 14px 40px */
    border: 0.0625rem solid $color-purple-500; /* 1px */
    background-color: $bg-secondary;
    @include text(h5);

    @media screen and (min-width: $screen-lg) {
      & {
        padding: 1rem 1.25rem 1rem 2.5rem; /* 16px 20px 16px 40px */

        & svg {
          width: 2.5rem; /* 40px */
          height: 2.5rem; /* 40px */
        }
      }
    }
  }
}
