@use '../../../styles/base/variables' as *;

.header {
  display: flex;
  justify-content: space-between;
  padding: 15px 30px;
  max-width: $screen-desktop;
  margin: 0 auto;

  @media screen and (min-width: $screen-tablet) {
    & {
      padding: 15px 50px;
    }
  }
  @media screen and (min-width: $screen-lg) {
    & {
      padding: 20px 100px;
    }
  }
}
