@use '../../../styles/utils/mixins' as *;
@use '../../../styles/base/variables' as *;

.artist__info {
  display: grid;
  gap: 1.875rem; /* 30px */
  padding: 1.875rem; /* 30px */
  max-width: $screen-desktop;
  margin: 0 auto;

  &__title {
    @include text(h4);
    font-weight: 600;
    text-transform: capitalize;
  }
  &__ctas {
    display: grid;
    gap: 1.25rem; /* 20px */
  }
  &__links {
    display: flex;
    align-items: center;
    gap: 0.625rem; /* 10px */
    color: $color-gray;

    & svg {
      width: 1.5rem; /* 24px */
      height: 1.5rem; /* 24px */
    }
  }

  @media screen and (min-width: $screen-tablet) {
    & {
      padding: 1.875rem 4.5rem; /* 30px 72px */
    }
    &__title {
      @include text(h3);
    }
    &__ctas {
      grid-template-columns: repeat(2, auto);
      width: fit-content;
      height: fit-content;
    }
    &__btn {
      padding: 1.1875rem 1.875rem; /* 19px 30px */
    }
  }
  @media screen and (min-width: $screen-lg) {
    & {
      grid-template-columns: 1fr auto;
      grid-template-areas:
        'title ctas'
        'stats ctas'
        'detail ctas'
        'social ctas';
      gap: 1.875rem 6.25rem; /* 30px 100px */
      padding: 2.5rem 7.1875rem; /* 40px 115px */
    }
    &__title {
      @include text(h2);
    }
    &__ctas {
      grid-area: ctas;
    }
    &__links {
      & svg {
        width: 2rem; /* 32px */
        height: 2rem; /* 32px */
      }
    }
  }
}
