@use '../../../styles/utils/mixins' as *;
@use '../../../styles/base/variables' as *;

.auction {
  display: grid;
  gap: 1.875rem; /* 30px */
  border-radius: 1.25rem; /* 20px */
  background: rgba(59, 59, 59, 0.5);
  backdrop-filter: blur(0.3125rem); /* 5px */
  padding: 1.875rem; /* 30px */

  &__header {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 0.625rem; /* 10px */
    font-family: var(--font-space-mono);
  }
  &__description {
    @include text(caption);
    font-weight: 400;
    font-family: var(--font-space-mono);
    grid-column: -1 / 1;
  }
  &__timer {
    display: grid;
    gap: 0.3125rem; /* 5px */
    @include text(h3);
    font-weight: 700;
  }
  &__timer__label {
    @include text(caption);
    font-weight: 400;
  }

  @media screen and (min-width: $screen-xsm2) {
    &__header {
      grid-template-columns: 1fr auto 1fr auto 1fr;
    }
  }
}
