@use '../../../styles/utils/mixins' as *;
@use '../../../styles/base/variables' as *;

.highlight {
  border-radius: 1.25rem; /* 20px */
  background-color: $bg-secondary;

  &__image {
    width: 100%;
    object-fit: cover;
    object-position: center;
    max-height: 13.8125rem; /* 221px */
    border-radius: 1.25rem 1.25rem 0rem 0rem; /* 20px 20px 0px 0px */
  }
  &__footer {
    display: grid;
    gap: 0.625rem; /* 10px */
    padding: 1.25rem; /* 20px */
  }
  &__title {
    @include text(h5);
    font-weight: 600;
  }

  @media screen and (min-width: $screen-lg) {
    &__image {
      max-height: 25.0625rem; /* 401px */
    }
  }
}
