@use '../../../styles/utils/mixins' as *;
@use '../../../styles/base/variables' as *;

.highlight {
  border-radius: 20px;
  background-color: $bg-secondary;

  &__image {
    width: 100%;
    object-fit: cover;
    object-position: center;
    max-height: 221px;
    border-radius: 20px 20px 0px 0px;
  }
  &__footer {
    display: grid;
    gap: 10px;
    padding: 20px;
  }
  &__title {
    @include text(h5);
    font-weight: 600;
  }

  @media screen and (min-width: $screen-lg) {
    &__image {
      max-height: 401px;
    }
  }
}
