@use '../../../styles/utils/mixins' as *;
@use '../../../styles/base/variables' as *;

.info {
  display: grid;
  gap: 1.25rem; /* 20px */
  place-items: center;
  border-radius: 1.25rem; /* 20px */
  background-color: $bg-secondary;
  padding: 1.25rem; /* 20px */

  &__image {
    width: 6.25rem; /* 100px */
    height: 6.25rem; /* 100px */
    object-fit: contain;
  }
  &__header {
    display: grid;
    gap: 0.625rem; /* 10px */
  }
  &__title {
    @include text(bodybase);
    font-weight: 600;
  }
  &__description {
    @include text(caption);
    font-weight: 400;
  }

  @media screen and (min-width: $screen-xsm2) {
    & {
      grid-template-columns: auto 1fr;
    }
  }
  @media screen and (min-width: $screen-tablet) {
    & {
      grid-template-columns: 1fr;
      grid-template-rows: auto 1fr;
      align-items: start;
      padding: 0.625rem 1.25rem 1.875rem 1.25rem; /* 10px 20px 30px 20px */
      height: 100%;
    }
    &__image {
      width: 10rem; /* 160px */
      height: 10rem; /* 160px */
    }
    &__header {
      text-align: center;
    }
  }
  @media screen and (min-width: $screen-lg) {
    & {
      padding: 0.625rem 1.875rem 1.875rem 1.875rem; /* 10px 30px 30px 30px */
    }
    &__image {
      width: 15.625rem; /* 250px */
      height: 15.625rem; /* 250px */
    }
    &__title {
      @include text(h5);
    }
    &__description {
      @include text(bodybase);
    }
  }
}
