@use '../../../styles/utils/mixins' as *;
@use '../../../styles/base/variables' as *;

.nft {
  border-radius: 1.25rem; /* 20px */
  background: $bg-secondary;

  &__image {
    position: relative;
    aspect-ratio: 1;
    width: 100%;
    max-height: 14.875rem; /* 238px */

    & img {
      border-radius: 1.25rem 1.25rem 0rem 0rem; /* 20px 20px 0px 0px */
      object-fit: cover;
      object-position: center;
    }
  }
  &__info {
    display: grid;
    gap: 1.5625rem; /* 25px */
    padding: 1.25rem 1.25rem 1.5625rem 1.25rem; /* 20px 20px 25px 20px */
  }
  &__header {
    display: grid;
    gap: 0.3125rem; /* 5px */
  }
  &__title {
    @include text(h5);
    font-weight: 600;
  }
  &__user {
    & span {
      font-family: var(--font-space-mono);
    }
  }
  &__footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.3125rem; /* 21px */
  }
  &__details {
    display: grid;
    gap: 0.5rem; /* 8px */

    &--bid {
      text-align: right;
    }
  }
  &__label {
    @include text(caption);
    font-weight: 400;
    font-family: var(--font-space-mono);
    color: $color-gray;
  }
  &__value {
    @extend .nft__label;
    color: $color-white;
  }

  @media screen and (min-width: $screen-sm) {
    &__image {
      max-height: 18.5rem; /* 296px */
    }
  }
}
