@use '../../../styles/base/variables' as *;
@use '../../../styles/utils/mixins' as *;

.footer {
  background-color: $bg-secondary;

  &__content {
    display: grid;
    gap: 1.875rem; /* 30px */
    padding: 2.5rem 1.875rem; /* 40px 30px */
    max-width: $screen-desktop;
    margin: 0 auto;
  }
  &__info {
    display: grid;
    gap: 1.25rem; /* 20px */

    &__description {
      @include text(bodybase);
      font-weight: 400;
      color: $color-gray-soft;
    }
  }
  &__subscribe {
    display: grid;
    gap: 1.25rem; /* 20px */

    &__title {
      @include text(h5);
      font-weight: 700;
      font-family: var(--font-space-mono);
    }
    &__description {
      @include text(bodybase);
      font-weight: 400;
      color: $color-gray-soft;
    }
  }
  &__copyright {
    display: grid;
    gap: 1.25rem; /* 20px */

    &__divider {
      height: 0.0625rem; /* 1px */
      width: 100%;
      background-color: $color-gray;
    }
    &__description {
      color: $color-gray-soft;
      @include text(caption);
      font-weight: 400;
    }
  }

  @media screen and (min-width: $screen-tablet) {
    &__content {
      padding: 2.5rem 4.5rem; /* 40px 72px */
    }
    &__copyright {
      margin-top: 1.1875rem; /* 19px */
    }
  }
  @media screen and (min-width: $screen-lg) {
    &__content {
      grid-template-columns: auto auto 1fr;
      gap: 1.875rem 5.25rem; /* 30px 84px */
      padding: 2.5rem 9.1431rem; /* 40px 146.29px */
    }
    &__info {
      max-width: 15.1875rem; /* 243px */
    }
    &__copyright {
      grid-column: -1 / 1;
      margin-top: 0;
    }
  }
}
