@use '../../../styles/base/variables' as *;

.cover__user {
  position: relative;
  height: 15.625rem; /* 250px */
  background: linear-gradient(180deg, rgba(151, 71, 255, 0) 21.88%, #9747ff 95.31%);
  margin-bottom: 3.125rem; /* 50px */

  &__image {
    z-index: -1;
  }
  &__avatar {
    object-fit: cover;
    position: absolute;
    border-radius: 1.25rem; /* 20px */
    border: 0.125rem solid $bg-primary; /* 2px */
    inset: 0 0 -3.125rem 0; /* 0 0 -50px 0 */
    margin: auto auto 0 auto;
  }

  @media screen and (min-width: $screen-tablet) {
    & {
      height: 17.5rem; /* 280px */
    }
    &__avatar {
      inset: 0 0 -3.125rem 4.5rem; /* 0 0 -50px 72px */
      margin: auto auto 0 0;
    }
  }
  @media screen and (min-width: $screen-lg) {
    & {
      height: 20rem; /* 320px */
    }
    &__avatar {
      inset: 0 0 -3.125rem 7.1875rem; /* 0 0 -50px 115px */
    }
  }
}
