@use '../../../styles/base/variables' as *;

.cover {
  object-fit: cover;
  object-position: center;

  &--tablet {
    display: none;
  }
  &--desktop {
    display: none;
  }

  @media screen and (min-width: $screen-tablet) {
    &--mobile {
      display: none;
    }
    &--tablet {
      display: block;
    }
  }
  @media screen and (min-width: $screen-lg) {
    &--tablet {
      display: none;
    }
    &--desktop {
      display: block;
    }
  }
}
