@use '../../../styles/base/variables' as *;

.info__list {
  display: grid;
  gap: 1.25rem; /* 20px */

  @media screen and (min-width: $screen-tablet) {
    & {
      grid-template-columns: repeat(3, 1fr);
      gap: 1.875rem; /* 30px */
    }
  }
}
