@use '../../../styles/base/variables' as *;

.nft__list {
  display: grid;
  gap: 1.25rem; /* 20px */

  @media screen and (min-width: $screen-sm) {
    & {
      grid-template-columns: repeat(2, 1fr);
      gap: 1.875rem; /* 30px */
    }
  }
  @media screen and (min-width: $screen-lg) {
    & {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
