@use '../../../styles/base/variables' as *;
@use '../../../styles/utils/mixins' as *;

.ranking__table {
  display: grid;
  gap: 1.25rem; /* 20px */

  &__header {
    display: grid;
    grid-template-columns: auto 2fr 1fr;
    align-items: center;
    gap: 0.625rem; /* 10px */
    padding: 0.75rem 0.625rem; /* 12px 10px */
    border-radius: 1.25rem; /* 20px */
    border: 0.0625rem solid $bg-secondary; /* 1px */
    @include text(caption);
    font-weight: 400;
    font-family: var(--font-space-mono);
    color: $color-gray;

    &__rank {
      @include text(bodybase);
      width: 1.5rem; /* 24px */
      height: 1.375rem; /* 22px */
      text-align: center;
    }
    &__artist {
      flex-grow: 1;
    }
    &__change {
      display: none;
    }
    &__nfts {
      display: none;
    }
  }
  &__item {
    display: grid;
    grid-template-columns: auto 2fr 1fr;
    align-items: center;
    gap: 0.625rem; /* 10px */
    padding: 0.75rem 0.625rem; /* 12px 10px */
    border-radius: 1.25rem; /* 20px */
    background-color: $bg-secondary;
    @include text(caption);
    font-weight: 400;
    font-family: var(--font-space-mono);

    &__rank {
      color: $color-gray;
      width: 1.5rem; /* 24px */
      height: 1.5rem; /* 24px */
      display: grid;
      place-items: center;
      flex-shrink: 0;
    }
    &__artist {
      flex-grow: 1;
      font-family: var(--font-work-sans);
    }
    &__change {
      display: none;
      color: $color-green;
    }
    &__nfts {
      display: none;
    }
  }

  @media screen and (min-width: $screen-tablet) {
    &__header {
      grid-template-columns: auto 3fr 1fr 1fr;
      gap: 1.25rem; /* 20px */
      padding: 0.75rem 1.25rem; /* 12px 20px */
      @include text(bodybase);

      &__change {
        display: block;
      }
    }
    &__item {
      grid-template-columns: auto 3fr 1fr 1fr;
      gap: 1.25rem; /* 20px */
      padding: 0.75rem 1.25rem; /* 12px 20px */
      @include text(bodybase);

      &__change {
        display: block;
      }
      &__artist {
        & span {
          @include text(h5);
          font-weight: 600;
        }
      }
    }
  }
  @media screen and (min-width: $screen-lg) {
    &__header {
      grid-template-columns: auto 3fr 1fr 1fr 1fr;

      &__rank {
        width: 1.875rem; /* 30px */
      }
      &__nfts {
        display: block;
      }
    }
    &__item {
      grid-template-columns: auto 3fr 1fr 1fr 1fr;

      &__rank {
        width: 1.875rem; /* 30px */
        height: 1.875rem; /* 30px */
        border-radius: 1.25rem; /* 20px */
        background-color: $bg-primary;
      }
      &__artist {
        gap: 1.25rem; /* 20px */

        & img {
          width: 3.75rem; /* 60px */
          height: 3.75rem; /* 60px */
        }
      }
      &__nfts {
        display: block;
      }
    }
  }
}
