@use '../../../styles/base/variables' as *;
@use '../../../styles/utils/mixins' as *;

.ranking__table {
  display: grid;
  gap: 20px;

  &__header {
    display: grid;
    grid-template-columns: auto 2fr 1fr;
    align-items: center;
    gap: 10px;
    padding: 12px 10px;
    border-radius: 20px;
    border: 1px solid $bg-secondary;
    @include text(caption);
    font-weight: 400;
    font-family: var(--font-space-mono);
    color: $color-gray;

    &__rank {
      @include text(bodybase);
      width: 24px;
      height: 22px;
      text-align: center;
    }
    &__artist {
      flex-grow: 1;
    }
    &__change {
      display: none;
    }
    &__nfts {
      display: none;
    }
  }
  &__item {
    display: grid;
    grid-template-columns: auto 2fr 1fr;
    align-items: center;
    gap: 10px;
    padding: 12px 10px;
    border-radius: 20px;
    background-color: $bg-secondary;
    @include text(caption);
    font-weight: 400;
    font-family: var(--font-space-mono);

    &__rank {
      color: $color-gray;
      width: 24px;
      height: 24px;
      display: grid;
      place-items: center;
      flex-shrink: 0;
    }
    &__artist {
      flex-grow: 1;
      font-family: var(--font-work-sans);
    }
    &__change {
      display: none;
      color: $color-green;
    }
    &__nfts {
      display: none;
    }
  }

  @media screen and (min-width: $screen-tablet) {
    &__header {
      grid-template-columns: auto 3fr 1fr 1fr;
      gap: 20px;
      padding: 12px 20px;
      @include text(bodybase);

      &__change {
        display: block;
      }
    }
    &__item {
      grid-template-columns: auto 3fr 1fr 1fr;
      gap: 20px;
      padding: 12px 20px;
      @include text(bodybase);

      &__change {
        display: block;
      }
      &__artist {
        & span {
          @include text(h5);
          font-weight: 600;
        }
      }
    }
  }
  @media screen and (min-width: $screen-lg) {
    &__header {
      grid-template-columns: auto 3fr 1fr 1fr 1fr;

      &__rank {
        width: 30px;
      }
      &__nfts {
        display: block;
      }
    }
    &__item {
      grid-template-columns: auto 3fr 1fr 1fr 1fr;

      &__rank {
        width: 30px;
        height: 30px;
        border-radius: 20px;
        background-color: $bg-primary;
      }
      &__artist {
        gap: 20px;

        & img {
          width: 60px;
          height: 60px;
        }
      }
      &__nfts {
        display: block;
      }
    }
  }
}
