@use '../../../styles/utils/mixins' as *;
@use '../../../styles/base/variables' as *;

.input {
  @include text(bodybase);
  font-weight: 400;
  color: $bg-primary;
  padding: 16px 20px;
  border-radius: 20px;
  background-color: $color-white;
  width: 100%;

  &::placeholder {
    color: $bg-primary;
  }
  &:focus {
    outline: none;
  }
  &__icon {
    position: relative;

    & svg {
      position: absolute;
      color: $color-gray-soft;
    }
  }
  &__icon--left {
    padding: 16px 20px 16px 52px;

    & ~ svg {
      margin: auto auto auto 0;
      inset: 0 0 0 20px;
    }
  }
  &__icon--right {
    padding: 16px 52px 16px 20px;

    & ~ svg {
      margin: auto 0 auto auto;
      inset: 0 20px 0 0;
    }
  }

  &--search {
    padding: 18px 52px 18px 20px;
    border: 1px solid $bg-secondary;
    color: $color-white;
    background-color: transparent;

    &::placeholder {
      color: $color-gray;
    }
  }
}
