// SCREENS
$screen-xsm: 480px;
$screen-sm: 640px;
$screen-md: 768px;
$screen-lg: 1024px;
$screen-xl: 1280px;
$screen-2xl: 1536px;
$screen-mobile: 375px;
$screen-tablet: 834px;
$screen-desktop: 1280px;

// COLORS
$color-white: #ffffff;
$color-black: #000000;
$color-gray: #858584;

$color-purple-50: #f9f5ff;
$color-purple-100: #f1e7ff;
$color-purple-200: #e6d3ff;
$color-purple-300: #d2b0ff;
$color-purple-400: #b77eff;
$color-purple-500: #a259ff;
$color-purple-600: #842af3;
$color-purple-700: #711ad6;
$color-purple-800: #611aaf;
$color-purple-900: #51178c;
$color-purple-950: #350269;

$bg-primary: #2b2b2b;
$bg-secondary: #3b3b3b;

$color-blue-50: #eff6ff;
$color-blue-100: #dbe9fe;
$color-blue-200: #bfdafe;
$color-blue-300: #92c3fe;
$color-blue-400: #5fa3fb;
$color-blue-500: #377df7;
$color-blue-600: #2460ec;
$color-blue-700: #1c4ad9;
$color-blue-800: #1d3eb0;
$color-blue-900: #1d388b;
$color-blue-950: #172454;

$color-red-50: #fff2f1;
$color-red-100: #ffe4e1;
$color-red-200: #ffcdc7;
$color-red-300: #ffaaa0;
$color-red-400: #ff7262;
$color-red-500: #f84e3b;
$color-red-600: #e5311d;
$color-red-700: #c12614;
$color-red-800: #a02214;
$color-red-900: #842318;
$color-red-950: #480e07;

// SCROLL CUSTOM
$sb-track-color: $color-purple-950;
$sb-thumb-color: $color-white;
$sb-size: 0.3125rem;
