@use '../../../styles/utils/mixins' as *;
@use '../../../styles/base/variables' as *;

.marketplace__section {
  display: grid;
  gap: 30px;
  padding: 40px 30px;
  max-width: $screen-desktop;
  margin: 0 auto;

  &__info {
    display: grid;
    gap: 10px;
  }

  @media screen and (min-width: $screen-tablet) {
    & {
      padding: 60px 72px;
    }
    &__title {
      @include text(h3);
    }
  }
  @media screen and (min-width: $screen-lg) {
    & {
      padding: 80px 115px;
    }
    &__title {
      @include text(h2);
    }
  }
}
