@use '../../../styles/base/variables' as *;

.connection__section {
  display: grid;
  align-items: center;
  max-width: $screen-desktop;
  margin: 0 auto;

  &__covers {
    position: relative;
    min-height: 14.5rem; /* 232px */
    height: 100%;
  }

  @media screen and (min-width: $screen-tablet) {
    & {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
