@use '../../../styles/base/variables' as *;

.discover {
  display: grid;
  gap: 2.5rem; /* 40px */
  padding: 2.5rem 1.875rem; /* 40px 30px */
  max-width: $screen-desktop;
  margin: 0 auto;

  &__info {
    display: grid;
    gap: 0.625rem; /* 10px */
  }

  @media screen and (min-width: $screen-sm) {
    &__nfts {
      & li {
        display: none;

        &:nth-child(-n + 2) {
          display: block;
        }
      }
    }
  }
  @media screen and (min-width: $screen-tablet) {
    & {
      grid-template-areas:
        'info btn'
        'nfts nfts';
      grid-template-columns: 1fr auto;
      padding: 2.5rem 4.5rem 5rem 4.5rem; /* 40px 72px 80px 72px */
    }
    &__info {
      grid-area: info;
    }
    &__btn {
      grid-area: btn;
      align-self: end;
    }
    &__nfts {
      grid-area: nfts;
    }
  }
  @media screen and (min-width: $screen-lg) {
    & {
      gap: 3.75rem; /* 60px */
      padding: 5rem 7.1875rem; /* 80px 115px */
    }
    &__nfts {
      & li {
        display: block;
      }
    }
  }
}
