@use '../../../styles/utils/mixins' as *;
@use '../../../styles/base/variables' as *;

.hero {
  display: grid;
  gap: 40px;
  padding: 40px 30px;
  max-width: $screen-desktop;
  margin: 0 auto;

  &__info {
    display: grid;
    gap: 10px;
  }
  &__title {
    @include text(h4);
    font-weight: 600;
    text-transform: capitalize;
  }
  &__description {
    @include text(bodybase);
    font-weight: 400;
  }

  @media screen and (min-width: $screen-tablet) {
    & {
      grid-template-areas:
        'info highlight'
        'btn highlight'
        'stats highlight';
      grid-template-columns: repeat(2, 1fr);
      align-items: start;
      gap: 30px;
      padding: 80px 72px;
    }
    &__info {
      grid-area: info;
      gap: 30px;
    }
    &__title {
      @include text(h3);
    }
    &__highlight {
      grid-area: highlight;
    }
    &__btn {
      grid-area: btn;
      justify-self: start;
    }
    &__stats {
      grid-area: stats;
    }
  }
  @media screen and (min-width: $screen-lg) {
    & {
      padding: 80px 115px;
    }
    &__info {
      gap: 20px;
    }
    &__title {
      @include text(h1);
    }
    &__description {
      @include text(bodytext);
    }
  }
}
