@use '../../../styles/utils/mixins' as *;
@use '../../../styles/base/variables' as *;

.highlight__section {
  background: linear-gradient(180deg, rgba(162, 89, 255, 0) 0%, $color-purple-500 100%);
  position: relative;

  &__cover {
    z-index: -1;
  }
  &__content {
    display: grid;
    gap: 1.875rem; /* 30px */
    padding: 7.5rem 1.875rem 2.5rem 1.875rem; /* 120px 30px 40px 30px */
    max-width: $screen-desktop;
    margin: 0 auto;
  }
  &__user {
    padding: 0.625rem 1.25rem; /* 10px 20px */
    border-radius: 1.25rem; /* 20px */
    background: $bg-secondary;
    width: fit-content;
  }
  &__title {
    @include text(h3);
    font-weight: 600;
  }

  @media screen and (min-width: $screen-tablet) {
    &__content {
      grid-template-areas:
        'artist timer'
        'title timer'
        'btn timer';
      align-items: end;
      padding: 22.5rem 5rem 3.75rem 5rem; /* 360px 80px 60px 80px */
    }
    &__timer {
      grid-area: timer;
    }
    &__btn {
      justify-self: flex-start;
    }
  }
  @media screen and (min-width: $screen-lg) {
    &__content {
      padding: 22.5rem 7.1875rem 3.75rem 7.1875rem; /* 360px 115px 60px 115px */
    }
    &__title {
      @include text(h2);
    }
  }
}
