@use '../../../styles/base/variables' as *;

.works__section {
  display: grid;
  gap: 2.5rem; /* 40px */
  padding: 2.5rem 1.875rem; /* 40px 30px */
  max-width: $screen-desktop;
  margin: 0 auto;

  &__info {
    display: grid;
    gap: 0.625rem; /* 10px */
  }

  @media screen and (min-width: $screen-tablet) {
    & {
      padding: 2.5rem 4.5rem; /* 40px 72px */
    }
  }
  @media screen and (min-width: $screen-lg) {
    & {
      gap: 3rem; /* 48px */
      padding: 5rem 7.1875rem; /* 80px 115px */
    }
  }
}
