@use '../../../styles/utils/mixins' as *;
@use '../../../styles/base/variables' as *;

.creators {
  display: grid;
  align-items: center;
  gap: 2.5rem; /* 40px */
  padding: 2.5rem 1.875rem; /* 40px 30px */
  max-width: $screen-desktop;
  margin: 0 auto;

  &__info {
    display: grid;
    gap: 0.625rem; /* 10px */
  }

  @media screen and (min-width: $screen-tablet) {
    & {
      grid-template-areas:
        'info btn'
        'artists artists';
      grid-template-columns: 1fr auto;
      padding: 2.5rem 4.5rem; /* 40px 72px */
    }
    &__info {
      grid-area: info;
    }
    &__btn {
      grid-area: btn;
      align-self: end;
    }
    &__artists {
      grid-area: artists;
    }
  }

  @media screen and (min-width: $screen-lg) {
    & {
      gap: 3.75rem; /* 60px */
      padding: 5rem 7.1875rem; /* 80px 115px */
    }
  }
}
